<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}{% endblock title %}</title>
        
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />                      
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">                     
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}                      
            {% endblock head_css_site %}
            {% block head_css_section %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            rel="stylesheet" crossorigin="anonymous"
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb">
            {% endblock head_css_section %}          
        {% endblock head_css %}
    </head>

    <body>
        {# The Document Body #}
        <div id="site-wrapper">
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        </div>
        
        {# Footer Navigation Menu #}
        <!-- <footer>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">My Network <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">My Network</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Recent</a>
                            </li>                          
                        </ul>                     
                    </div>
                </nav>
        </footer> -->
        <div style="background-color: #19086D">          
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="#">My Network</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Recent</a>
          </li>
        </ul>
        </div>     
    </body>

    {# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" 
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" 
            crossorigin="anonymous"></script>
            <!-- <script src="{{ STATIC_URL }}js/app.js"></script> -->
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>