<h1>Location info goes here</h1>


    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12">
                <!--Put the location details here-->
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object img-thumbnail"
                                     src="./assets/morrisson_bridge.jpg" alt="Morrisson Bridge">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">
                                <span class="label label-danger">Morrisson Bridge</span>
                                <span class="badge">4.5</span>
                            </h2>
                            <p>Very nice dry spot under the bridge with public transportation and laundromat just around the corner.</p>

                        </div>
                    </li>
                </ul>

            </div>

            <div class="col-xs-9 col-xs-offset-1">
                <!--Put the comments here-->
                <div class="col-xs-12">
                    <h3 style="color: lightblue">Comments</h3>
                </div>
                <div class="col-xs-12  col-sm-push-1">
                    <label for="sort">Sort by: </label>
                    <input id="sort" />
                </div>
                <div class="col-xs-12 col-sm-push-1">
                    <ul class="list-unstyled">
                        <li>
                            <blockquote>
                                <p>5<i class="fa fa-star" aria-hidden="true"></i>'s!</p>
                                <p>Ultimate, Reaching for the stars!</p>
                                <footer>Billy Joe, <strong>01.12.2017</strong></footer>
                            </blockquote>
                        </li>
                        <li>
                            <blockquote>
                                <p>4<i class="fa fa-star" aria-hidden="true"></i>'s!</p>
                                <p>Sends anyone to heaven, I wish I could get my mother-in-law here!</p>
                                <footer>Michael Smith, <strong>01.12.2017</strong></footer>
                            </blockquote>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    


